{{!-- file home.hbs gồm 1 thẻ input và 1 nút submit --}}
<form>
    <label for="inputText">Nhập text:</label>
    <input type="text" id="inputText" />
    <button type="submit">Submit</button>
</form>